body{
    margin: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background-image:url('../resources/images/background/bgPic.png');
	background-position: centre;
	background-attachment: fixed;
	background-size: cover;
}
canvas{
    border: 1px solid black;
}

  