
body{
    margin: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background-image:url('../resources/images/background/bgPic.png');
	background-position: centre;
	background-attachment: fixed;
	background-size: cover;
}
canvas{
    border: 1px solid black;
}



/*Scrolling background in progress

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: scrollBackground 60s linear infinite;
    background-image: url('../resources/images/background/bg5.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

@keyframes scrollBackground {
    0% {
        background-image: url('../resources/images/background/bg5.png');
    }
    25% {
        background-image: url('../resources/images/background/bg4.png');
    }
    50% {
        background-image: url('../resources/images/background/bg3.png');
    }
    75% {
        background-image: url('../resources/images/background/bg2.png');
    }
    100% {
        background-image: url('../resources/images/background/bg1.png');
    }
}

canvas {
    border: 1px solid black;
}
  